.landing-page {
  font-family: 'Arial', sans-serif;
  color: #333;
  min-height: 100vh;
  background: #f8f8f8;
  position: relative;
  display: flex;
}

.left-content {
  background-color: #a7d9dc;
  width: 60%; 
  min-height: calc(100vh - 70px); 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding: 0 50px; 
  box-sizing: border-box;
  z-index: 2;
}
/* DynamicText styles */
.dynamic-text { /* Assuming this is your dynamic text class */
  text-align: left; /* Align text to the left */
  width: 100%; /* Use full width of parent */
  /* Add other styles specific to DynamicText here */
}

.additional-info {
  text-align: left; 
  margin-top: 20px; 
  color: #333;
  font-size: 1rem;
}

.learn-more {
  padding: 15px 30px; 
  margin-top: 20px; 
  border: none;
  border-radius: 30px; 
  background-color: #ff6b6b; 
  color: #fff; 
  font-size: 18px; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center; 
  display: inline-block; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  user-select: none; 
}

.learn-more:hover {
  background-color: #e55a38; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px);
}

