/* DBoardHeader.css */
.dboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 16px 20px; /* Increase padding to expand header vertically */
    font-size: 22px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    /* Increase margin if logo and nav links seem too close */
    margin-right: 30px; 
}

.header-icon {
    margin-right: 30px; /* Adjust if more space is needed */
}

.nav-links a, .nav-links button {
    color: white;
    text-decoration: none;
    padding: 10px; /* Adds padding to increase spacing and clickable area */
    margin: 0 10px; /* Adjust margins to space out the nav items */
    background: none; /* Ensures that buttons don't have a background */
    border: none; /* Ensures that buttons don't have a border */
}

.nav-links .dropdown {
    position: relative;
    display: inline-block;
}

.nav-links .dropbtn {
    font-size: 22px;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.nav-links .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.nav-links .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-align: left;
    width: 100%; /* Make the buttons full width */
    box-sizing: border-box;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-links .dropdown-content .dropdown-link {
    display: block;
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}
.nav-links .dropdown-content .dropdown-link:hover {
    background-color: #f1f1f1;
}

.nav-links .dropdown-content button:hover {
    background-color: #f1f1f1;
}

/* Display the dropdown content when it's supposed to be shown */
.nav-links .dropdown.show .dropdown-content {
    display: block;
}

.notification-bell {
    margin-right: 20px; /* Adjust the space as needed */
    display: inline-flex; /* Use flex to center the icon vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.notification-bell .fa-bell {
    font-size: 1.5rem; /* Adjust the size as needed */
    color: white; /* Set the color */
    cursor: pointer;
}

/* Add to DBoardHeader.css */
/* DBoardHeader.css */
/* Additions to DBoardHeader.css */

.linked-to-info {
    display: inline-flex; /* Aligns this div inline with other flex items */
    align-items: center; /* Centers vertically to match other nav items */
    justify-content: center; /* Centers content horizontally within the div */
    margin: 0 10px; /* Match the margin of other nav elements */
    padding: 10px; /* Match the padding of other nav elements */
    font-size: 22px; /* Match the font size of other nav elements */
    text-decoration: none; /* Ensures it doesn't look like a link */
    cursor: default; /* Changes the cursor to default as it's not clickable */
}


