/* Locker Page Layout */
.locker-page {
  padding: 2rem;
}

.locker-name {
  font-size: 3rem; 
  font-weight: bold; 
  margin-bottom: 2rem; 
  text-align: center; 
  text-transform: uppercase; 
}

section {
  text-align: left; 
  margin-bottom: 1.5rem;
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.documents-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start; 
}

.document-card {
  width: calc(33.333% - 1rem); 
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.locker-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 2rem; 
}

.locker-actions {
  display: flex; 
  gap: 10px; 
}

.locker-button {
  background-color: #FF6A5C; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease; 
}

.locker-button:hover {
  background-color: #e6554d; 
}

@media (max-width: 768px) {
  .locker-header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .locker-actions {
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%; 
    padding-top: 1rem; 
  }

  .locker-name {
    text-align: left; 
  }

  .document-card {
    width: calc(50% - 1rem); 
  }
}


/* Locker.css */


.document-icon {
  font-size: 3rem; 
}

.document-icon.pdf {
  color: #E53E3E; 
}

.document-icon.image {
  color: #38B2AC; 
}

.document-icon.other {
  color: #718096; 
}

.document-thumbnail-placeholder {
  width: 100%;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

.document-title {
  font-size: 1rem; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  margin-top: 0.5rem; 
  text-align: center; 
}

.document-card {
  position: relative;
}

.document-card .locker-button.delete,
.document-card .locker-button.download {
  position: absolute;
  bottom: 10px;
}

.document-card .locker-button.delete {
  right: 70px; 
}

.document-card .locker-button.download {
  right: 10px;
}

.document-card .locker-button .fa-trash,
.document-card .locker-button .fa-download {
  margin-right: 5px;
}


.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #44c767;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  width: auto;
  box-sizing: border-box;
}

.notification-content {
  position: relative;
  z-index: 10; 
}

.notification-timer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: red;
  transition: width 5s linear; 
}
